@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");
.modal-backdrop {
  background: rgba(29, 42, 61, 0.61); }

.modal-backdrop.show {
  opacity: 1; }

.modal-content {
  border: none;
    border-radius: 10px;
  position: relative;
  padding: 44px 90px 82px; }
  .modal-content .form button {
    margin: 24px auto 0;
    max-width: 329px;
    width: 100%; }
  .modal-content .form label {
    width: calc(50% - 10px);
    margin: 0 0 19px; }
  .modal-content .form .checkbox {
    margin: 0 0 19px;
    font-size: 12px;
    width: 100%; }
  .modal-content .form .checkbox-custom {
    margin-top: 0; }
  .modal-content .form input {
    padding: 0 0 17px; }
  .modal-content .form .label-textarea {
    width: 100%; }
  .modal-content .form-group:last-child {
    margin: 0; }
  .modal-content .btn-close-modal {
    margin: 40px auto 0;
    max-width: 329px;
    width: 100%; }

.modal-dialog {
  max-width: 777px; }

.close {
  right: -41px;
  top: 0;
  width: 21px;
  height: 21px;
  opacity: 1;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  padding: 0;
  margin: 0;
  position: absolute; }
  .close .svg-icon {
    fill: #fff; }

.modal-header {
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: none;
  text-align: center;
  margin: 0 0 25px; }

.modal-body {
  padding: 0; }

.modal-title {
  text-align: center;
  width: 100%;
  margin: 0 auto 17px;
  line-height: normal; }

.form-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 11px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.subtitle-modal {
  width: 100%; }
