@import "fonts"
@import "vars"

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

//*::-webkit-input-placeholder
//  color: #666
//  opacity: 1
//
//*:-moz-placeholder
//  color: #666
//  opacity: 1
//
//*::-moz-placeholder
//  color: #666
//  opacity: 1
//
//*:-ms-input-placeholder
//  color: #666
//  opacity: 1
//
//body input:focus:required:invalid,
//body textarea:focus:required:invalid
//  color: #666
//
//body input:required:valid,
//body textarea:required:valid
//  color: #666

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

body
  font-size: 15px
  min-width: 320px
  position: relative
  line-height: normal
  font-family: $default-font
  font-weight: normal
  background: #fff
  color: #373737

html, body
  overflow-x: hidden

img
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

a
  display: block
  text-decoration: none
  transition: .3s ease
  outline: none

  &:hover, &:focus
    text-decoration: none

input, textarea, select
  outline: none
  box-shadow: none
  appearance: none
  padding: 0 0 20px
  box-sizing: border-box
  width: 100%
  font-size: 15px
  color: #000
  font-family: $default-font
  border: none
    radius: 0
    bottom: 1px solid #1AB9CA
  &::placeholder
    color: #A0A0A0
  &:hover, &:focus
    outline: none
    box-shadow: none

textarea
  border: 1px solid #1AB9CA
  padding: 12px 28px
  height: 130px

label
  display: block
  width: 100%

.checkbox
  width: 100%
  display: flex
  align-items: flex-start
  color: #A0A0A0
  font-size: 13px
  margin: 26px 0 0
  cursor: pointer

.inp-check
  display: none

.checkbox-custom
  border: 1px solid #A0A0A0
    radius: 50px
  position: relative
  width: 18px
  height: 18px
  min-width: 18px
  margin: 3px 10px 0 0
  &:before
    content: ''
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    border-radius: 50%
    width: 10px
    height: 10px

.inp-check:checked + .checkbox-custom
  &:before
    background: $accent

.btn, button
  outline: none
  border: none
    radius: 0
  box-shadow: none
  padding: 0
  margin: 0
  font-family: $default-font

  &:hover, &:focus
    outline: none
    box-shadow: none

.btn
  border-radius: 120px
  font-size: 15px
  font-weight: bold
  padding: 8px 23px
  height: 50px
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  width: fit-content

.btn-accent
  color: #fff
  background: linear-gradient(90.55deg, #0CBACD 15.28%, #08DBBA 110.69%)

  &:hover
    background: linear-gradient(-90.55deg, #0CBACD 15.28%, #08DBBA 110.69%)
    color: #fff

.btn-border
  border: 1px solid #0CBACD
  color: $accent

  &:hover
    background: $accent
    color: #fff

.btn-load
  max-width: 282px
  width: 100%
  margin: 10px 0 0
  padding: 0 54px 0 80px
  justify-content: space-between
  .btn-icon
    width: 15px
    height: 8px
    fill: $accent
    margin: 0 0 0 15px
    display: flex
    align-items: center
    justify-content: center
  &:hover
    .btn-icon
      fill: #fff

.box-text
  font-size: 15px
  line-height: 30px

.svg-icon
  display: inline-block
  width: 100%
  height: 100%

.color-accent
  color: $accent

a.color-accent
  &:hover
    color: $hover

.bg-accent
  background: $accent
  color: #fff

.d-inline
  display: inline-block

.container
  max-width: 1200px
  padding: 0 10px

.row
  margin: 0 -10px

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto
  padding: 0 10px

.wrapper
  padding: 118px 0 0

h1
  font-size: 144px
  font-family: $font
  color: $accent
  line-height: 160px
  width: 100%

h2
  width: 100%
  font-size: 35px
  font-weight: bold
  color: $accent
  margin: 0 0 30px

h3
  font-weight: bold
  font-size: 25px
  width: 100%
  color: #000
  margin: 0 0 23px

.mb-19
  margin-bottom: 19px

.mb-40
  margin-bottom: 40px

.mb-35
  margin-bottom: 35px

.p-90
  padding: 90px 0

.links-details
  display: flex
  align-items: center
  font-size: 13px
  font-weight: 500

  .svg-icon
    width: 75px
    height: 16px
    fill: $accent
    margin: 0 0 0 18px
    transition: .3s ease

  &:hover
    color: $hover

    .svg-icon
      fill: $hover

.btn-group
  width: 100%
  flex-wrap: wrap

  .btn
    width: 100%
    margin: 0 0 19px
    border-radius: 120px

    &:last-child
      margin: 0

.btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn:not(:first-child)
  border-radius: 120px

.links-grey
  color: #B3B3B3
  font-size: 13px
  text-decoration: underline
  &:hover
    color: $accent

//header
header
  padding: 23px 0 24px
  position: fixed
  left: 0
  top: 0
  width: 100%
  background: #fff
  z-index: 3

  .btn
    height: 41px
    margin: -4px 0 4px

header.fixed
  .address, .header-box
    display: none
  .menu
    width: calc(100% - 190px)
    margin: 0 auto 0 0
    order: -1

.logo
  display: flex
  align-items: center
  max-width: 191px

.address
  color: #727272
  margin: 0 auto 0 0

.header-box
  display: flex
  align-items: center
  margin: 0 45px 4px 0

.schedule
  color: #727272
  margin: 0 24px 0 0

.phone
  font-size: 18px
  font-weight: bold
  color: $accent

  &:hover
    color: $text

.header-row
  width: 100%
  display: flex
  align-items: center


.menu
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap
  font-size: 15px
  margin: 11px 0 0

  li
    a
      color: $text

      &:hover
        color: $accent

.btn-scroll-top
  width: 49px
  height: 49px
  position: fixed
  z-index: 7
  background: $footer
  fill: #fff
  border-radius: 50%
  bottom: 360px
  right: 210px
  display: flex
  align-items: center
  justify-content: center

  &:hover
    background: $accent

  .svg-icon
    width: 18px
    height: 10px

.btn-burger
  max-width: 28px
  width: 100%
  display: none

  span
    display: block
    width: 100%
    margin: 0 0 6px
    background: $accent
    border-radius: 5px
    height: 2px

    &:last-child
      margin: 0

.mobile-menu
  display: none
  position: fixed
  z-index: 10
  left: 0
  top: 0
  width: 100%
  height: 100%
  background: linear-gradient(0deg, rgba(29, 42, 61, 0.61), rgba(29, 42, 61, 0.61)), #FFFFFF

  &__body
    height: 100%
    overflow-y: auto
    background: #fff
    width: calc(100% - 79px)
    padding: 19px 24px 29px

  .logo
    margin: 0 0 10px
    max-width: 103px
  .menu
    font-size: 15px
    margin: 10px 0 30px
    li
      width: 100%
      margin: 0 0 25px
      &:last-child
        margin: 0
  &__box
    width: 100%
    padding: 20px 0 0
    border-top: 1px solid $accent
    max-width: 216px
  .phone
    color: $accent
    font-size: 18px
  .address
    margin: 25px 0 15px
  .btn
    height: 40px
  .menu-catalog-list
    li
      margin: 0 0 15px
      &:last-child
        margin: 0
  .links-grey
    color: #B3B3B3
  .menu-catalog
    width: calc(100% - 79px)
    height: 100%
    overflow-y: auto
    top: 0
    &:before
      display: none
  .links-catalog.click
    &:before
      display: none

.btn-close-menu
  position: absolute
  top: 14px
  right: 23px
  z-index: 2
  cursor: pointer
  width: 21px
  height: 22px
  display: flex
  align-items: center
  justify-content: center
  fill: #fff

.menu-catalog
  display: none
  position: fixed
  left: 0
  top: 111px
  background: #fff
  padding: 37px 24px
  width: 100%
  z-index: 5
  &:before
    content: ''
    position: absolute
    left: 50%
    top: 0
    transform: translate(-50%,0)
    height: 1px
    max-width: 1178px
    width: 100%
    background: #DDDDDD
  h4
    color: $accent
    font-weight: bold
    margin: 0 0 10px
    font-size: 15px
  &-col
    margin: 0 0 25px
  .container
    position: relative

.btn-close-menu-catalog
  position: absolute
  right: 0
  top: 0
  fill: $accent
  display: flex
  align-items: center
  justify-content: center
  width: 21px
  height: 22px
  z-index: 1

.links-catalog
  position: relative

.links-catalog.click
  &:before
    content: ''
    position: absolute
    left: 0
    bottom: -18px
    width: 100%
    height: 3px
    background: $accent

.menu-catalog-list
  font-size: 13px
  margin: 0 0 15px
  li
    margin: 0 0 15px
    &:last-child
      margin: 0
    a
      color: #373737
      display: flex
      align-items: center
      &:before
        content: ''
        display: flex
        align-items: center
        justify-content: center
  .active
    font-weight: bold
    &:before
      background: url("../img/arrow-menu.svg") no-repeat center
        size: 100%
      width: 20px
      height: 8px
      margin: 0 10px 0 0

.overlay-menu
  background: rgba(29, 42, 61, 0.61)
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%
  display: none
  z-index: 2

//main
.main
  .btn
    margin: 57px 0 0

.main-img
  position: relative
  z-index: 1
  max-width: 596px
  width: 100%
  display: flex
  align-items: center
  margin: 0 0 0 auto

  img
    width: 100%
    margin: 3px 0 0

  &:before
    content: ''
    position: absolute
    left: 47%
    transform: translate(-50%, 0)
    top: 29px
    border-radius: 50%
    background: #EFEFEF
    width: 440px
    height: 440px
    z-index: -1


//services
.bg-decor
  position: relative

  &:before
    content: ''
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: 747px
    background: url("../img/decor-bg1.svg") no-repeat center
      size: cover

.popular-services
  padding: 0 0 54px
  position: relative
  z-index: 1
  h2
    margin: 47px 0 42px

.services-box
  display: flex
  align-items: stretch
  flex-wrap: wrap
  width: 100%
  height: 100%
  background: #fff
  box-shadow: 0px 8px 60px rgba(217, 234, 239, 0.9)
  border-radius: 10px
  padding: 39px 42px 35px 18px

  &__icon
    max-width: 165px
    width: 100%
    display: flex
    align-items: center
    justify-content: center

  &__body
    width: calc(100% - 165px)
    padding: 0 0 0 17px

  .links-details
    margin: 33px 0 0


//about-doctor
.about-doctor
  padding: 36px 0

  &__photo
    width: 100%
    max-width: 380px
    display: flex
    align-items: center
    margin: 0 0 23px

  &__content
    width: 100%
    padding: 0 0 0 44px

.nav-tabs
  width: 100%
  margin: 32px 0 0
  border: none

  .nav-item
    flex: 1
    text-align: center
    overflow: hidden
    border: 1px solid #1AB9CA
    background: #fff
    margin: 0 -1px 0 0

    &:last-child
      margin: 0
      border-radius: 0px 10px 10px 0px

    &:first-child
      border-radius: 10px 0px 0px 10px

  .nav-link
    margin: 0
    padding: 16px 10px
    color: $accent
    font-size: 15px
    font-weight: bold
    border: none
      radius: 0

  .nav-link.active
    background: $accent
    color: #fff

.tab-content
  box-shadow: 0px 8px 60px rgba(217, 234, 239, 0.9)
  border-radius: 10px
  background: #fff
  padding: 54px 47px 70px 58px
  margin: -14px 0 0
  z-index: -1

//statistics
.statistics
  padding: 54px 0
  .box-text
    max-width: 746px
    margin: 0 auto

.statistics-box
  margin: 0 0 40px
  padding: 0 20px 0 0

  &__num
    font-size: 45px
    font-weight: bold
    color: #000
    margin: 0 0 16px
    padding: 0 0 8px
    line-height: 55px
    position: relative

    &:before
      content: ''
      position: absolute
      left: 0
      bottom: 0
      height: 2px
      width: 77px
      background: $accent

.statistics-wrapper
  margin: 46px 0 0
  width: 100%
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  justify-content: space-between

//advantages
.advantages
  padding: 0 0 47px
  .box-text
    max-width: 360px
  h2
    margin: 0 0 15px

.advantages-box
  color: #000
  width: 100%
  height: 100%
  background: #fff
  border-radius: 10px
  display: flex
  align-items: center
  flex-wrap: wrap
  box-shadow: 0 8px 60px rgba(217, 234, 239, 0.9)
  padding: 35px 30px 40px 32px
  &__icon
    width: 45px
    display: flex
    align-items: center
    justify-content: center

  &__body
    width: calc(100% - 45px)
    padding: 0 0 0 27px

//certification
.certification
  position: relative
  z-index: 1
  color: #fff
  padding: 44px 0
  h2
    color: #fff
    margin: 0 0 20px
  &:before
    content: ''
    position: absolute
    width: 100%
    height: 426px
    background: $accent
    left: 0
    top: 0
  .slider-nav
    margin: 3px 0 -6px

.slick-slider
  width: 100%

.slick-arrow
  position: relative
  display: flex
  align-items: center
  justify-content: center
  background: #fff
  border-radius: 50%
  width: 54px
  height: 54px
  box-shadow: 0px 8px 60px rgba(217, 234, 239, 0.9)
  fill: $accent
  opacity: 1
  z-index: 1
  cursor: pointer
  transition: .3s ease
  &:hover
    background: $hover
  .svg-icon
    width: 12px
    height: 22px

.slider-nav
  position: relative
  display: flex
  align-items: center
  justify-content: flex-end
  .slick-prev
    margin: 0 29px 0 0

.certification-slider
  margin: 40px -10px 0

.certification-box
  width: 100%
  padding: 0 10px
  display: flex
  align-items: center

//examples-operation
.examples-operation
  padding: 48px 0 56px
  h2
    margin: 0 auto 20px
  .box-text
    margin: 0 auto 2px

.examples-operation-col
  display: none
  &:nth-child(-n+4)
    display: block

.examples-operation-box
  width: 100%
  height: 100%
  &__img
    width: 100%
    height: 203px
    display: flex
    align-items: center
    justify-content: center
    background: #C4C4C4
  &__body
    height: calc(100% - 203px)
    width: 100%
    padding: 18px 0 0
    display: flex
    flex-direction: column
  .box-text
    margin: 0 0 15px
  h3
    margin: 0 0 13px
    font-size: 15px
    line-height: 25px
  .links-details
    margin: auto 0 0
  .links-details .svg-icon
    width: 63px

//.gallery-wrapper
.gallery-wrapper
  width: 100%
  &__img
    width: 100%

//materials
.materials
  padding: 75px 0 87px
  h2
    margin: 0 0 20px

.materials-slider
  margin: 60px 0 0

.materials-slider__wrapper
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  padding: 0 40px 0 0

.materials-box
  display: flex
  align-items: center
  justify-content: center
  height: 60px
  max-width: 280px
  img
    max-height: 100%

//reviews
.reviews
  padding: 0 0 54px
  &:before
    bottom: auto
    top: 0
    background: url("../img/decor-bg2.svg") no-repeat center top
      size: 100%
  h2
    margin: 0 auto 26px

.reviews-slider
  margin: 70px 0 0

.reviews-slider__nav
  margin: 35px 0 -35px

.reviews-slider__wrapper
  width: 100%
  display: flex
  align-items: stretch
  justify-content: space-between
  flex-wrap: wrap


.reviews-box
  //max-width: 550px
  width: calc(50% - 50px)
  background: #fff
  box-shadow: 0px 8px 60px rgba(217, 234, 239, 0.9)
  border-radius: 10px
  padding: 32px 27px 35px 50px
  margin: 0 0 54px
  &:last-child
    width: calc(50% - 10px)
  &__photo
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden
    width: 68px
    height: 68px
    min-width: 68px
    border-radius: 50%
    margin: 0 20px 0 0
    img
      width: 100%
      height: 100%
      object-fit: cover
  &__head
    width: 100%
    display: flex
    align-items: center
    margin: 0 0 10px
    min-height: 68px

  h3
    font-size: 18px
    margin: 0 0 10px
  .list-rating
    margin: -10px 0 10px auto

.name-operation
  font-size: 13px

.list-rating
  display: flex
  align-items: center
  li
    margin: 0 11px 0 0
    width: 18px
    height: 18px
    display: flex
    align-items: center
    justify-content: center
    &:last-child
      margin: 0
  .svg-icon
    fill: $yellow
  .star0
    fill: none
    stroke: $yellow

.btn-add-reviews
  width: 100%

.average-rating
  display: flex
  align-items: center
  margin: 7px 0 15px
  .list-rating
    margin: 0 0 0 23px
  p
    font-weight: bold

//social-network
.social-network
  padding: 71px 0 100px
  h2
    margin: 0 auto 20px
  .box-text
    margin: 2px auto 34px

.social-network-box
  background: #C4C4C4
  width: 100%
  height: 180px
  margin: 0 0 20px
  display: flex
  align-items: center
  justify-content: center


.social-network-box-max
  height: 380px

.subscribe-wrapper
  padding: 20px 38px 0
  &__item
    display: flex
    align-items: center
    .box-text
      margin: 0 0 0 23px
      max-width: 163px
      width: 100%
  .btn
    margin: 27px 0 0
    max-width: 243px
    width: 100%

//.question
.question
  padding: 0 0 37px
  h2
    margin: 0 0 50px

.card
  border: none
    top: 1px solid #EBEBEB
    radius: 0

.accordion>.card>.card-header
  margin: 0

.card-header
  padding: 23px 10px 23px 0
  display: flex
  align-items: center
  justify-content: space-between
  border: none
    radius: 0
  cursor: pointer
  margin: 0
  background: transparent
  &__icon

    display: flex
    align-items: center
    justify-content: center
    border-radius: 50%
    padding: 7px
    min-width: 40px
    width: 40px
    height: 40px
    transition: .3s ease
    fill: #C4C4C4
    transform: rotate(45deg)
    &:hover, &:focus
      background: #1AB9CA
      fill: #fff
  h4
    font-weight: bold
    font-size: 21px
    font-family: $lato
    padding: 0 120px 0 0
    line-height: 29px

.card-header.collapsed
  .card-header__icon
    transform: none
    fill: $accent
    &:hover, &:focus
      background: #1AB9CA
      fill: #fff

.card-body
  padding: 0 100px 20px 0

//clinic-tour
.clinic-tour
  padding: 90px 0
  h2
    margin: -14px 0 32px
    color: #ffff
    max-width: 225px

.icon-arrow
  max-width: 260px
  width: 100%
  height: 23px
  margin: 50px 0 0
  fill: #fff
  display: flex
  align-items: center

  .svg-icon
    width: 100%
    height: 100%

.tour-box
  width: 100%
  height: 482px
  position: relative
  background: #F2F2F2
  p
    position: absolute
    text-align: center
    width: 100%
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    color: #939393
    font-size: 35px
    font-weight: bold

//recommended-articles
.recommended-articles
  padding: 88px 0 83px
  h2
    margin: 0

.recommended-articles-slider
  margin: 50px -10px 67px

.recommended-articles-box
  width: calc(100% - 20px)
  margin: 0 auto
  border: 1px solid #ECE9F1
    radius: 10px
  background: #fff
  overflow: hidden
  height: 444px
  &__img
    width: 100%
    height: 153px
    border-radius: 10px 10px 0px 0px
    background: #C4C4C4
  &__body
    width: 100%
    height: calc(100% - 153px)
    padding: 15px 39px 35px 37px
    display: flex
    flex-direction: column
  h3
    font-size: 21px
    margin: 0 0 15px
  .box-text
    margin: 0 0 30px
  .links-details
    .svg-icon
      width: 38px

.author-article
  text-align: right
  color: #B2B2B2
  font-size: 13px
  font-weight: 500
  max-width: 140px


.recommended-articles__footer
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  margin: auto 0 0

.recommended-articles__line
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  font-size: 13px
  color: #B2B2B2
  margin: 0 0 10px


.appointment
  width: 100%
  display: flex
  align-items: stretch
  flex-wrap: wrap
  background: #fff
  border-radius: 10px
  box-shadow: 0px 8px 60px rgba(217, 234, 239, 0.9)
  padding: 16px 50px 4px 90px
  &-icon
    display: flex
    align-items: center
    max-width: 132px
    width: 100%
  &-body
    width: calc(100% - 132px)
    padding: 32px 0 0 80px
  h3
    font-size: 35px
    margin: 0 0 50px

.form-appointment
  width: 100%
  display: flex
  align-items: center
  flex-wrap: wrap

  label
    width: calc(100% - 230px)
    padding: 0 20px 0 0
  .checkbox
    padding: 0
    width: 100%
  button
    margin: 0 50px 0 0
    max-width: 180px

//map
.map
  width: 100%
  height: 336px

  iframe
    width: 100%
    height: 100%

//footer
footer
  padding: 60px 0 57px
  background: $footer
  color: #fff
  .address
    color: #fff

.payments
  display: flex
  align-items: center
  flex-wrap: wrap
  justify-content: flex-end
  width: 100%
  color: #747474
  font-size: 13px

.list-pay
  display: flex
  align-items: center
  li
    margin: 0 0 0 30px
    display: flex
    align-items: center
    justify-content: center

.list-social
  display: flex
  align-items: center
  flex-wrap: wrap
  margin: 23px 0 0
  li
    margin: 0 22px 0 0
    &:last-child
      margin: 0
    a
      width: 33px
      height: 33px
      min-width: 33px
      padding: 8px
      fill: $accent
      display: flex
      align-items: center
      justify-content: center
      background: #ffffff
      border-radius: 50%
      &:hover
        background: $accent
        fill: #fff

.copyright
  font-family: $rubik
  color: #747474
  font-size: 13px
  line-height: 15px

.footer-menu
  font-size: 16px
  font-family: $rubik
  line-height: 30px
  column-count: 3
  li
    a
      color: #fff
      &:hover
        color: $accent

.mail
  color: $accent
  font-size: 16px
  &:hover
    color: $hover

.footer-box
  margin: 0 0 45px
  font-family: $rubik
  line-height: 30px
  .schedule
    color: #747474
    margin: 0




@import "media"
// Всегда в конце
